<nav>
  <div class="nav-wrapper">
        
    <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Hungry</a>
    <ul class="right hide-on-med-and-down">
      <!-- <li><a href="sass.html"><i class="material-icons">search</i></a></li> -->
      <!-- <li><a href="badges.html"><i class="material-icons">view_module</i></a></li> -->
      <li><a [routerLink]= "['/signup']"><i class="material-icons">add_circle_outline
 ADD MESS</i> </a></li>
      <li><a [routerLink]= "['/login']"><i class="material-icons">LOGIN</i></a></li>
      
      <!-- <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li> -->
    </ul>
  </div>
</nav>