
 <html>   
    <body class="cyan">    
      <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
          <form class="login-form">
            <div class="row">
              <div class="input-field col s12 center">
                <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
                <p class="center login-form-text">Reset Password </p>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class ="material-icons prefix">email</i>           
                 <input id="username" type="text">
                
                <label for="username" class="center-align">Email</label>
              </div>
              <div class="input-field col s12">
                  <i class ="material-icons prefix">lock</i>           
                   <input id="username" type="text">
                  
                  <label for="username" class="center-align">New password</label>
                </div>

                <div class="input-field col s12">
                    <i class ="material-icons prefix">lock</i>           
                     <input id="username" type="text">
                    
                    <label for="username" class="center-align">Confirm password</label>
                  </div>
            </div>
            
            <div class="row">
              <div class="input-field col s12">
                <a href="index.html" class="btn waves-effect waves-light col s12">Reset Password</a>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p class="margin medium-small"><a [routerLink]= "['/login']">Login</a></p>
              </div>
              <div class="input-field col s6 m6 l6">
                  <p class="margin right-align medium-small"><a [routerLink]= "['/signup']">Register</a></p>
              </div>          
            </div>
            </form>
        </div>
      </div>
    </body>
    
    </html>  
 